{% extends 'navigationbar.html' %}
{% load static %}
{% block body %}
<style>
    body{
        background-image : radial-gradient(circle, #416860, #3c5c5d, #3b5056, #3b454b, #383a3d);
    }
    .container{
        background-image : radial-gradient(circle, #f3fcfa, #ffffff, rgb(246, 253, 255), #f9fdff, #ffffff);
    }
    h2{
        text-align: center;
    }
  </style>
<body>
    <br>
    <div class="container">
        <div><h2>Contact Us</h2></div>
        <div class="row">
            <div class="col-md-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248756.1167538933!2d80.06892500205358!3d13.047487785918513!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5265ea4f7d3361%3A0x6e61a70b6863d433!2sChennai%2C%20Tamil%20Nadu!5e0!3m2!1sen!2sin!4v1618466340402!5m2!1sen!2sin" width="325" height="425" frameborder="0" style="border:0;" aria-hidden="false" tabindex="0"></iframe>
                
                <br>
            </div>
            <div class="col-md-6">
                <form action="https://formspree.io/f/xknpvbwk" method="POST" class="my-form">
                    <div class="form-group">
                        <label for="form-name">Name</label>
                        <input type="text" name="name" class="form-control" id="form-name" placeholder="Name" required>
                    </div>
                    <div class="form-group">
                        <label for="form-email">Email Address</label>
                        <input type="email" name="emailid" class="form-control" id="form-email" placeholder="Email Address" required>
                    </div>
                    <div class="form-group">
                        <label for="form-message">Email your Message</label>
                        <textarea class="form-control" name="message" id="form-message" placeholder="Message" required></textarea>
                    </div>
                    <button class="btn btn-default" type="submit">Send</button>                
                </form>
            </div>
        </div>
    </div>
    
    <style>
        .my-form {
            color: #305896;
        }
        .my-form .btn-default {
            background-color: #305896;
            color: #fff;
            border-radius: 0;
        }
        .my-form .btn-default:hover {
            background-color: #4498C6;
            color: #fff;
        }
        .my-form .form-control {
            border-radius: 0;
        }
    </style>   
  </body>

{% endblock %}