{% extends 'navigationbar.html' %}
{% block body %}
<style>
    body{
        background-image : radial-gradient(circle, #416860, #3c5c5d, #3b5056, #3b454b, #383a3d);
    }
    .container{
        background-image : radial-gradient(circle, #f3fcfa, #ffffff, rgb(246, 253, 255), #f9fdff, #ffffff);
    }
</style>

<div class="container table-responsive" style="margin-top:60px">
    <h2 class="text-center text-primary font-weight-bold">View Equipment</h2>

    <table id="example" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Equipment Name</th>
            <th scope="col">Price</th>
            <th scope="col">Unit</th>
            <th scope="col">Purchase Date</th>
            <th scope="col">Description</th>
            <th scope="col">Remove</th>
        </tr>
        </thead>

        <tbody>
        {% for i in enquipment %}

        <tr>
            <td>{{i.name}}</td>
            <td>{{i.price}}</td>
            <td>{{i.unit}}</td>
            <td>{{i.date}}</td>
            <td>{{i.description}}</td>
            <td><a class="btn btn-danger" href="{% url 'delete_equipment' i.id %}" onclick="return confirm('Are you sure to delete?')">Delete</a> </td>
        </tr>

        {% endfor %}
        <tbody>

    </table>

</div>

{% endblock %}